.pantaPicker_General {
    display: inline-block;
    min-width: 10vw;
    width: auto;
    height: auto;
    
    background-color: transparent;
    outline: none;
    border: none;
}

.pantaPicker_General > button {
    
    height: 3vh;
    min-width: 10vw;
    background-color: white;
    border-radius: 50px;
    border-width: 1px;
    border-color: rgba(100,100,100,0.5);
    border-style: solid;
    outline: none;
    
    cursor: pointer;
    
}

.pantaPicker_General > a {
    display: none;
    width: inherit;
    height: 3vh;
    line-height: 3vh;
    text-align: center;
    
    border-bottom: 1px solid;
    border-bottom-style: inset;
    
    cursor: pointer;
    background-color: white;
}

.pantaPicker_General > a:last-child {
    
    border-radius: 0px 0px 50px 50px;
    
}

.pantaPicker_General:focus button,
.pantaPicker_General > button:focus {
    
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 0px 5px 1px lightblue;
    
}

.pantaPicker_General:focus a,
.pantaPicker_General > button:focus ~ a {
    display: block;
}

.pantaPicker_General > a:hover  {
    background-color: lightblue;
    color: white;
}